<!DOCTYPE html>
<html>
  <head>
    <title>wozane</title>
    <meta charset="utf-8">
    <meta name="description" content="Wozane">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Aneta Woźniak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style=" width: 100%; margin: auto; text-align: center; padding-top: 2rem;">
    <header style=" display: flex; justify-content: flex-end; padding-bottom: 2rem; padding-right: 1rem;">
      <nav>
        <a href="/">home</a>
        <a href="/gallery">gallery</a>
        <a href="/blog">blog</a>
        <a href="/board">board</a>
        <a href="/shop">shop</a>
        <% if session[:admin] == true %>
          <a href="/logout">logout</a>
        <% else %>
          <a href="/login">admin</a>
        <% end %>
      </nav>
    </header>

    <section style="margin-bottom: 2rem;">
      <%= yield %>
    </section>

    <footer>
      <p>Posted and created by: Aneta Woźniak</p>
    </footer>
  </body>
</html>
